.container,
.container-lg {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  /* 1400-2*150+2*20=1108 */
  max-width: 1180px;
}

.container-lg {
  max-width: 1440px;
}
